.spot.largespot
  .user
    %img{:src=>largespot.user.gravatar_url, :title=>largespot.user.login}
  .url
    %a{:href=>largespot.url}= largespot.url.length > 55 ? largespot.url.slice(0,55).concat('...') : largespot.url
  .uri
    %a{:href=>largespot.uri}= largespot.uri.length > 55 ? largespot.uri.slice(0,55).concat('...') : largespot.uri
  .tags
    != largespot.tag_list
  .created_at
    %span== #{link_to largespot.created_at, largespot}
    %span== by #{link_to largespot.user.login, largespot.user}
    - if largespot.user == current_user
      != link_to 'edit', edit_spot_path(largespot.id)
      != link_to '- delete?', largespot, :confirm => 'Are you sure?', :method => :delete