.user
  %img{:src=>@user.gravatar_url}
  - if @user == current_user
    %p This is you!
  - else
    - if !current_user.friends.include? @user
      - form_for @friendship do |f|
        != hidden_field :user, :id
        != submit_tag 'Follow'
    - else
      - form_for @friendship, :html => {:method => 'delete'} do |f|
        != hidden_field :user, :id
        != submit_tag 'Unfollow'
  %p.username== Username: #{@user.login}
  - if @user==current_user
    %p 
      if you want an avatar, sign up at 
      %a{:href=>'http://www.gravatar.com'} Gravatar
      with the email address you used here.
  %p
    Following:
    - @user.friends.each do |friend|
      != link_to friend.login, friend
#latest
  != render :partial => 'spots/spot', :collection => @spots.reverse