!!! Strict
%html
  %head
    != stylesheet_link_tag 'application'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %title Spot-A-Tron

  %body
    #header
      %h1
        != link_to 'Spot-A-Tron', home_path
      %span.subtitle Get excited
      %p
        != flash[:notice]
    #menu
      %ul
        - if logged_in?
          %li
            != link_to 'logout', logout_path
          %li
            != link_to 'profile', current_user
          %li
            != link_to 'new spot', home_path
          %li
            != link_to 'friends', friends_path
        -else
          %li
            != link_to 'login', login_path
          %li
            != link_to 'register', signup_path

    #content
      != yield

    #footer
      %span
        This is a
        %a{:href => "http://www.veryhappythings.co.uk"}
          very happy thing
        by Mac.
    - if RAILS_ENV == 'production'
      != render :partial => 'home/analytics'